
.dialogContentBackground {
	-fx-background-color: #448AFF;
}
.dialogBackground {
	-fx-background-color: rgba(0,0,0,0.5); 
}
.dialogTextSmall {
	-fx-fill: white ;
	-fx-font-size: 15;
	-fx-font-family: 'Baskerville'; 
}
.dialogTextMedium {
	-fx-fill: white;
	-fx-font-size: 20;
	-fx-font-family: 'Baskerville'; 
}
.dialogTextBig {
	-fx-fill: white;
	-fx-font-size: 25; 
	-fx-font-family: 'Baskerville'; 
}