#appMenu {
	-fx-background-image: url('/images/england-city-wallpaper.jpg');
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover;
	-fx-border-color: #424242;
    -fx-border-width: 5px;
    -fx-padding: 5 5 5 5;
    -fx-spacing: 5;
}
#shadowMenu {
	-fx-background-color: rgba(0,0,0,0.5); 
}

#jfx-slider-style > .thumb {
    -fx-background-color: #03a9f4;
}

#jfx-slider-style .track {
    -fx-background-color: #ff5252;
}

#jfx-slider-style .sliderValue {
    -fx-stroke: blue;
    -fx-font-size: 10.0;
}

#jfx-slider-style {
    -fx-background-color: transparent;
}

#popup-box {
    -fx-background-color: transparent ;
    -fx-padding: -10;
    -fx-background-radius: 20;
}
.jfx-snackbar-content {
    -fx-background-color: rgba(0,0,0,0.5);
    -fx-background-radius: 10;
    -fx-translate-y: -10;
}

.jfx-snackbar-toast {
    -fx-text-fill: WHITE;
}

.jfx-snackbar-action {
    -fx-text-fill: #ff4081;
}