#header {
	-fx-background-image: url('/images/bg1.jpg');
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover;
	-fx-border-color: #424242;
    -fx-padding: 5 20 5 5;
    -fx-spacing: 5;
}

.scroll-bar:vertical > .track-background, .scroll-bar:horizontal > .track-background {
    -fx-background-color: #F1F1F1;
    -fx-background-insets: 0.0;
}

.scroll-bar:vertical > .thumb, .scroll-bar:horizontal > .thumb {
    -fx-background-color: #BCBCBC;
    -fx-background-insets: 0.0;
    -fx-background-radius: 1.0;
}

.scroll-bar > .increment-button, .scroll-bar > .decrement-button {
    -fx-padding: 5 2 5 2;
}

.scroll-bar > .increment-button, .scroll-bar > .decrement-button, .scroll-bar:hover > .increment-button, .scroll-bar:hover > .decrement-button {
    -fx-background-color: transparent;
}

.scroll-bar > .increment-button > .increment-arrow, .scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: rgb(150.0, 150.0, 150.0);
}

.scroll-bar > .increment-button > .increment-arrow {
    -fx-shape: "M298 426h428l-214 214z";
}

.scroll-bar > .decrement-button > .decrement-arrow {
    -fx-shape: "M298 598l214-214 214 214h-428z";
}




#backPane1 {
	/*-fx-background-color: rgb(0, 170, 207);*/
	-fx-background-color: #1097FF;
}
#backPane2 {
	-fx-background-color: white;
}
#personStack {
	-fx-background-color: transparent ;
	-fx-border-width: 1;
}
#personBorder {
	-fx-background-color: white;
}

#personBackgroundImage {
	-fx-background-image: url('/images/Person.png');
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover;
}
#webCamButton {
	-fx-background-radius: 40;
	-fx-background-color: yellow;
	-fx-translate-x: 20;
}

#personHeader{
	-fx-background-image: url('/images/stats.png');
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover;
}

#paneImageView{
	-fx-border-color: #424242;
	-fx-border-width: 5;
	-fx-padding: 5;
}
/*CHARTS */
#lineChartButton {
	-fx-background-radius: 40;
	-fx-background-color: #03A9F4;
}
#lineChartHBox {
	-fx-background-color: #FAFAFA;
	-fx-background-radius: 30 30 30 30;
}