.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.944824;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.983398;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.934082;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.941895;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.912109;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.891113;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:0.739746;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff9;src:url(f9.woff)format("woff");}.ff9{font-family:ff9;line-height:0.933105;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._2{margin-left:-1.121813px;}
._1{width:1.056040px;}
._0{width:2.112079px;}
._3{width:3.648137px;}
._4{width:42.676656px;}
._5{width:565.889305px;}
.fc0{color:rgb(192,0,0);}
.fc1{color:rgb(64,64,64);}
.fc2{color:rgb(90,90,90);}
.fc4{color:rgb(0,112,192);}
.fc3{color:rgb(0,0,0);}
.fs2{font-size:39.841500px;}
.fs1{font-size:44.161800px;}
.fs0{font-size:48.001803px;}
.y46{bottom:71.160003px;}
.y0{bottom:72.000000px;}
.y20{bottom:73.680084px;}
.y1f{bottom:88.200027px;}
.y45{bottom:93.600036px;}
.y44{bottom:108.120026px;}
.y1e{bottom:115.680039px;}
.y43{bottom:122.640060px;}
.y42{bottom:137.160049px;}
.y1d{bottom:142.920044px;}
.y41{bottom:164.520035px;}
.y1c{bottom:171.960022px;}
.y1b{bottom:186.480057px;}
.y40{bottom:193.080048px;}
.y1a{bottom:200.880066px;}
.y3f{bottom:207.600036px;}
.y19{bottom:215.400055px;}
.y3e{bottom:222.000045px;}
.y18{bottom:229.920044px;}
.y3d{bottom:249.480057px;}
.y17{bottom:257.280029px;}
.y3c{bottom:277.920044px;}
.y16{bottom:285.840042px;}
.y3b{bottom:292.440033px;}
.y15{bottom:300.360031px;}
.y14{bottom:314.760040px;}
.y3a{bottom:319.920044px;}
.y13{bottom:342.240051px;}
.y39{bottom:348.360031px;}
.y38{bottom:362.880066px;}
.y12{bottom:370.680039px;}
.y37{bottom:377.400055px;}
.y11{bottom:385.200027px;}
.y36{bottom:391.800064px;}
.y10{bottom:399.720062px;}
.y35{bottom:406.320053px;}
.yf{bottom:427.080048px;}
.y34{bottom:433.800064px;}
.ye{bottom:455.640060px;}
.y33{bottom:462.240051px;}
.yd{bottom:470.160049px;}
.y32{bottom:476.760040px;}
.y31{bottom:491.280052px;}
.yc{bottom:497.520035px;}
.y30{bottom:505.680039px;}
.y2f{bottom:520.200051px;}
.yb{bottom:526.080048px;}
.y2e{bottom:534.720039px;}
.ya{bottom:540.480034px;}
.y2d{bottom:549.240051px;}
.y2c{bottom:563.640037px;}
.y9{bottom:567.960045px;}
.y2b{bottom:578.160049px;}
.y2a{bottom:592.680039px;}
.y8{bottom:596.400055px;}
.y29{bottom:607.200051px;}
.y7{bottom:610.920044px;}
.y24{bottom:620.000000px;}
.y28{bottom:621.600036px;}
.y6{bottom:638.400055px;}
.y27{bottom:649.080048px;}
.y5{bottom:665.640049px;}
.y26{bottom:676.080048px;}
.y23{bottom:678.120048px;}
.y4{bottom:695.040047px;}
.y25{bottom:704.520046px;}
.y22{bottom:705.480045px;}
.y3{bottom:718.440045px;}
.y2{bottom:732.960045px;}
.y1{bottom:760.080042px;}
.y21{bottom:760.320042px;}
.h7{height:0.500000px;}
.h8{height:30.835632px;}
.h9{height:33.380111px;}
.h5{height:33.516884px;}
.h6{height:33.725125px;}
.h2{height:34.782556px;}
.h3{height:35.536448px;}
.h4{height:36.282613px;}
.h1{height:592.500000px;}
.h0{height:841.920040px;}
.w2{width:48.000000px;}
.w1{width:117.500000px;}
.w0{width:595.320010px;}
.x1{left:56.639998px;}
.x2{left:74.639998px;}
.x3{left:92.639998px;}
.x5{left:127.439999px;}
.x0{left:155.000000px;}
.x4{left:308.500000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._2{margin-left:-1.495751pt;}
._1{width:1.408053pt;}
._0{width:2.816106pt;}
._3{width:4.864183pt;}
._4{width:56.902208pt;}
._5{width:754.519074pt;}
.fs2{font-size:53.122000pt;}
.fs1{font-size:58.882400pt;}
.fs0{font-size:64.002404pt;}
.y46{bottom:94.880005pt;}
.y0{bottom:96.000000pt;}
.y20{bottom:98.240113pt;}
.y1f{bottom:117.600037pt;}
.y45{bottom:124.800049pt;}
.y44{bottom:144.160035pt;}
.y1e{bottom:154.240052pt;}
.y43{bottom:163.520081pt;}
.y42{bottom:182.880066pt;}
.y1d{bottom:190.560059pt;}
.y41{bottom:219.360047pt;}
.y1c{bottom:229.280030pt;}
.y1b{bottom:248.640076pt;}
.y40{bottom:257.440064pt;}
.y1a{bottom:267.840088pt;}
.y3f{bottom:276.800049pt;}
.y19{bottom:287.200074pt;}
.y3e{bottom:296.000061pt;}
.y18{bottom:306.560059pt;}
.y3d{bottom:332.640076pt;}
.y17{bottom:343.040039pt;}
.y3c{bottom:370.560059pt;}
.y16{bottom:381.120057pt;}
.y3b{bottom:389.920044pt;}
.y15{bottom:400.480042pt;}
.y14{bottom:419.680054pt;}
.y3a{bottom:426.560059pt;}
.y13{bottom:456.320069pt;}
.y39{bottom:464.480042pt;}
.y38{bottom:483.840088pt;}
.y12{bottom:494.240052pt;}
.y37{bottom:503.200074pt;}
.y11{bottom:513.600037pt;}
.y36{bottom:522.400086pt;}
.y10{bottom:532.960083pt;}
.y35{bottom:541.760071pt;}
.yf{bottom:569.440064pt;}
.y34{bottom:578.400086pt;}
.ye{bottom:607.520081pt;}
.y33{bottom:616.320069pt;}
.yd{bottom:626.880066pt;}
.y32{bottom:635.680054pt;}
.y31{bottom:655.040070pt;}
.yc{bottom:663.360047pt;}
.y30{bottom:674.240052pt;}
.y2f{bottom:693.600068pt;}
.yb{bottom:701.440064pt;}
.y2e{bottom:712.960053pt;}
.ya{bottom:720.640046pt;}
.y2d{bottom:732.320069pt;}
.y2c{bottom:751.520050pt;}
.y9{bottom:757.280060pt;}
.y2b{bottom:770.880066pt;}
.y2a{bottom:790.240052pt;}
.y8{bottom:795.200074pt;}
.y29{bottom:809.600068pt;}
.y7{bottom:814.560059pt;}
.y24{bottom:826.666667pt;}
.y28{bottom:828.800049pt;}
.y6{bottom:851.200074pt;}
.y27{bottom:865.440064pt;}
.y5{bottom:887.520066pt;}
.y26{bottom:901.440064pt;}
.y23{bottom:904.160065pt;}
.y4{bottom:926.720063pt;}
.y25{bottom:939.360062pt;}
.y22{bottom:940.640061pt;}
.y3{bottom:957.920060pt;}
.y2{bottom:977.280060pt;}
.y1{bottom:1013.440056pt;}
.y21{bottom:1013.760056pt;}
.h7{height:0.666667pt;}
.h8{height:41.114176pt;}
.h9{height:44.506814pt;}
.h5{height:44.689179pt;}
.h6{height:44.966833pt;}
.h2{height:46.376742pt;}
.h3{height:47.381931pt;}
.h4{height:48.376817pt;}
.h1{height:790.000000pt;}
.h0{height:1122.560053pt;}
.w2{width:64.000000pt;}
.w1{width:156.666667pt;}
.w0{width:793.760013pt;}
.x1{left:75.519997pt;}
.x2{left:99.519997pt;}
.x3{left:123.519997pt;}
.x5{left:169.919998pt;}
.x0{left:206.666667pt;}
.x4{left:411.333333pt;}
}
