.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.944824;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.914062;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.921387;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.739746;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.942383;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.940918;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:0.941895;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff9;src:url(f9.woff)format("woff");}.ff9{font-family:ff9;line-height:0.940918;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._2{margin-left:-1.148552px;}
._0{width:1.152043px;}
._1{width:42.676656px;}
.fc2{color:rgb(0,112,192);}
.fc1{color:rgb(0,0,0);}
.fc0{color:rgb(192,0,0);}
.fs1{font-size:39.841500px;}
.fs2{font-size:44.161800px;}
.fs0{font-size:48.001803px;}
.y3f{bottom:2.640015px;}
.y3d{bottom:68.880066px;}
.y21{bottom:69.240051px;}
.y22{bottom:70.000000px;}
.y46{bottom:82.080048px;}
.y20{bottom:83.760040px;}
.y45{bottom:96.480057px;}
.y1f{bottom:111.120026px;}
.y44{bottom:123.960022px;}
.y1e{bottom:138.480057px;}
.y43{bottom:152.400055px;}
.y42{bottom:166.920044px;}
.y1d{bottom:167.520035px;}
.y1c{bottom:181.920044px;}
.y41{bottom:194.400055px;}
.y1b{bottom:196.440033px;}
.y3e{bottom:219.000045px;}
.y40{bottom:221.640060px;}
.y1a{bottom:223.920044px;}
.y3c{bottom:249.000045px;}
.y19{bottom:252.360031px;}
.y3b{bottom:263.520035px;}
.y18{bottom:266.880066px;}
.y3a{bottom:278.040024px;}
.y39{bottom:292.440033px;}
.y17{bottom:294.240051px;}
.y38{bottom:306.960022px;}
.y16{bottom:322.800064px;}
.y37{bottom:334.320053px;}
.y15{bottom:337.320053px;}
.y36{bottom:363.240051px;}
.y14{bottom:364.680039px;}
.y35{bottom:377.760040px;}
.y34{bottom:392.280029px;}
.y13{bottom:393.240051px;}
.y33{bottom:406.680039px;}
.y12{bottom:407.640060px;}
.y32{bottom:421.200027px;}
.y11{bottom:422.160049px;}
.y31{bottom:435.720062px;}
.y10{bottom:436.680039px;}
.y30{bottom:463.080048px;}
.yf{bottom:464.040047px;}
.ye{bottom:491.400055px;}
.y2f{bottom:492.000045px;}
.y2e{bottom:506.520035px;}
.yd{bottom:520.320053px;}
.y2d{bottom:533.760040px;}
.yc{bottom:534.840042px;}
.yb{bottom:549.360054px;}
.y2c{bottom:562.800041px;}
.ya{bottom:563.880043px;}
.y2b{bottom:577.320053px;}
.y9{bottom:591.240051px;}
.y2a{bottom:604.560036px;}
.y8{bottom:619.800041px;}
.y0{bottom:632.500000px;}
.y29{bottom:633.600036px;}
.y7{bottom:634.200051px;}
.y28{bottom:648.000045px;}
.y6{bottom:648.720039px;}
.y27{bottom:662.520046px;}
.y5{bottom:663.240040px;}
.y4{bottom:677.760040px;}
.y26{bottom:689.880043px;}
.y4a{bottom:704.640049px;}
.y3{bottom:705.120048px;}
.y25{bottom:718.800041px;}
.y49{bottom:719.160049px;}
.y2{bottom:732.480045px;}
.y24{bottom:733.320042px;}
.y48{bottom:746.520046px;}
.y1{bottom:760.080042px;}
.y47{bottom:760.320042px;}
.y23{bottom:760.800041px;}
.h6{height:13.439987px;}
.h7{height:33.516884px;}
.h4{height:33.725125px;}
.h3{height:33.868460px;}
.h2{height:34.782556px;}
.h1{height:44.000000px;}
.h5{height:168.000000px;}
.h0{height:841.920040px;}
.w3{width:60.599996px;}
.w1{width:100.000000px;}
.w2{width:480.000000px;}
.w0{width:595.320010px;}
.x8{left:0.000000px;}
.x4{left:55.500000px;}
.x1{left:56.639998px;}
.x7{left:64.679999px;}
.xb{left:68.040001px;}
.x2{left:74.639998px;}
.x3{left:92.639998px;}
.xa{left:100.680004px;}
.x9{left:125.279995px;}
.x5{left:127.439999px;}
.x0{left:169.000000px;}
.x6{left:535.080001px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._2{margin-left:-1.531402pt;}
._0{width:1.536058pt;}
._1{width:56.902208pt;}
.fs1{font-size:53.122000pt;}
.fs2{font-size:58.882400pt;}
.fs0{font-size:64.002404pt;}
.y3f{bottom:3.520020pt;}
.y3d{bottom:91.840088pt;}
.y21{bottom:92.320069pt;}
.y22{bottom:93.333333pt;}
.y46{bottom:109.440064pt;}
.y20{bottom:111.680054pt;}
.y45{bottom:128.640076pt;}
.y1f{bottom:148.160035pt;}
.y44{bottom:165.280030pt;}
.y1e{bottom:184.640076pt;}
.y43{bottom:203.200074pt;}
.y42{bottom:222.560059pt;}
.y1d{bottom:223.360047pt;}
.y1c{bottom:242.560059pt;}
.y41{bottom:259.200074pt;}
.y1b{bottom:261.920044pt;}
.y3e{bottom:292.000061pt;}
.y40{bottom:295.520081pt;}
.y1a{bottom:298.560059pt;}
.y3c{bottom:332.000061pt;}
.y19{bottom:336.480042pt;}
.y3b{bottom:351.360047pt;}
.y18{bottom:355.840088pt;}
.y3a{bottom:370.720032pt;}
.y39{bottom:389.920044pt;}
.y17{bottom:392.320069pt;}
.y38{bottom:409.280030pt;}
.y16{bottom:430.400086pt;}
.y37{bottom:445.760071pt;}
.y15{bottom:449.760071pt;}
.y36{bottom:484.320069pt;}
.y14{bottom:486.240052pt;}
.y35{bottom:503.680054pt;}
.y34{bottom:523.040039pt;}
.y13{bottom:524.320069pt;}
.y33{bottom:542.240052pt;}
.y12{bottom:543.520081pt;}
.y32{bottom:561.600037pt;}
.y11{bottom:562.880066pt;}
.y31{bottom:580.960083pt;}
.y10{bottom:582.240052pt;}
.y30{bottom:617.440064pt;}
.yf{bottom:618.720063pt;}
.ye{bottom:655.200074pt;}
.y2f{bottom:656.000061pt;}
.y2e{bottom:675.360047pt;}
.yd{bottom:693.760071pt;}
.y2d{bottom:711.680054pt;}
.yc{bottom:713.120057pt;}
.yb{bottom:732.480072pt;}
.y2c{bottom:750.400055pt;}
.ya{bottom:751.840058pt;}
.y2b{bottom:769.760071pt;}
.y9{bottom:788.320069pt;}
.y2a{bottom:806.080048pt;}
.y8{bottom:826.400055pt;}
.y0{bottom:843.333333pt;}
.y29{bottom:844.800049pt;}
.y7{bottom:845.600068pt;}
.y28{bottom:864.000061pt;}
.y6{bottom:864.960053pt;}
.y27{bottom:883.360062pt;}
.y5{bottom:884.320054pt;}
.y4{bottom:903.680054pt;}
.y26{bottom:919.840058pt;}
.y4a{bottom:939.520066pt;}
.y3{bottom:940.160065pt;}
.y25{bottom:958.400055pt;}
.y49{bottom:958.880066pt;}
.y2{bottom:976.640061pt;}
.y24{bottom:977.760056pt;}
.y48{bottom:995.360062pt;}
.y1{bottom:1013.440056pt;}
.y47{bottom:1013.760056pt;}
.y23{bottom:1014.400055pt;}
.h6{height:17.919983pt;}
.h7{height:44.689179pt;}
.h4{height:44.966833pt;}
.h3{height:45.157946pt;}
.h2{height:46.376742pt;}
.h1{height:58.666667pt;}
.h5{height:224.000000pt;}
.h0{height:1122.560053pt;}
.w3{width:80.799995pt;}
.w1{width:133.333333pt;}
.w2{width:640.000000pt;}
.w0{width:793.760013pt;}
.x8{left:0.000000pt;}
.x4{left:74.000000pt;}
.x1{left:75.519997pt;}
.x7{left:86.239998pt;}
.xb{left:90.720001pt;}
.x2{left:99.519997pt;}
.x3{left:123.519997pt;}
.xa{left:134.240005pt;}
.x9{left:167.039993pt;}
.x5{left:169.919998pt;}
.x0{left:225.333333pt;}
.x6{left:713.440002pt;}
}
